<div class="container">
  <div class="card mb-3 mt-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../images/weather.jpg" class="img-fluid rounded-start" alt="temperature">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">City Name</h3>
          <h5>30 C°</h5>
          <img src="../../../images/cold.png" alt="min temp" class="hola">
          <p class="card-text">Min Temp 23 C°</p>
          <img src="../../../images/hot.png" alt="max temp" class="hola2">
          <p class="card-text">Max Temp32 C°</p>
          <p class="card-text">Humidity 77%</p>
          <p class="card-text">Wind Speed 104km</p>
        </div>
      </div>
    </div>
  </div>
</div>
