<div class="container" *ngIf="forecast">
  <div class="row mt-5 mb-5" >
    <!--*ngFor="let hour in forecast.list[index]" -->
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[0].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud"></i>
            <p class="card-text">
              {{forecast.list[0].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[1].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud-lightning"></i>
            <p class="card-text">
              {{forecast.list[1].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[2].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud-drizzle"></i>
            <p class="card-text">
              {{forecast.list[2].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[3].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud-rain-heavy"></i>
            <p class="card-text">
              {{forecast.list[3].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[4].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud-drizzle"></i>
            <p class="card-text">
              {{forecast.list[4].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[5].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud-lightning-rain"></i>
            <p class="card-text">
              {{forecast.list[5].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[6].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-clouds"></i>
            <p class="card-text">
              {{forecast.list[6].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[7].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-brightness-high"></i>
            <p class="card-text">
              {{forecast.list[7].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[8].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-brightness-high"></i>
            <p class="card-text">
              {{forecast.list[8].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[9].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud"></i>
            <p class="card-text">
              {{forecast.list[9].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[10].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud"></i>
            <p class="card-text">
              {{forecast.list[10].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[11].dt_txt | date:'shortTime'}}</h5>
            <i class="bi bi-cloud-lightning"></i>
            <p class="card-text">
              {{forecast.list[11].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
    </div>
</div>