<div class="container" *ngIf="forecast">
  <div class="row mt-5 mb-5" >
    <!--*ngFor="let hour in forecast.list[index]" -->
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[0].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[0].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[0].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[1].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[1].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[1].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[2].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[2].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[2].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[3].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[3].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[3].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[4].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[4].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[4].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[5].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[5].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[5].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[6].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[6].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[6].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[7].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[7].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[7].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[8].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[8].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[8].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[9].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[9].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[9].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[10].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[10].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[10].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card  mb-3 bg-carousel">
          <div class="card-body text-center">
            <h5 class="card-title">{{forecast.list[11].dt_txt | date:'shortTime'}}</h5>
            <img src="http://openweathermap.org/img/wn/{{forecast.list[11].weather[0].icon}}@2x.png" alt="weather icon">
            <p class="card-text">
              {{forecast.list[11].main.temp}} °C
            </p>
          </div>
        </div>
      </div>
    </div>
</div>