<div class="container" *ngIf="forecast">
  <div class="row mt-5 mb-5" >
        <div class="col-md-2" *ngFor="let day of days, let i = index">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">{{day.dt_txt | date:'shortTime'}}</h5>
              <img src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}@2x.png" alt="weather icon">
              <p class="card-text">
                {{day.main.temp}} °C
              </p>
            </div>
          </div>
      </div>
    </div>
</div>