<div class="container">
    <table class="table table-borderless bg-forecast">
      <tbody class="text-center">
        <tr>
          <th>Monday</th>
          <th>77%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>12 °C</th>
          <th>22 °C</th>
        </tr>
        <tr>
          <th>Tuesday</th>
          <th>32%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>15 °C</th>
          <th>22 °C</th>
        </tr>
        <tr>
          <th>Wednesday</th>
          <th>1%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>18 °C</th>
          <th>26 °C</th>
        </tr>
        <tr>
          <th>Thursday</th>
          <th>15%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>22 °C</th>
          <th>28 °C</th>
        </tr>
        <tr>
          <th>Friday</th>
          <th>3%</th>
          <th><i class="bi bi-cloud-sun"></i></th>
          <th>24 °C</th>
          <th>32 °C</th>
        </tr>
      </tbody>
    </table>
</div>