<div class="d-flex flex-row direction justify-content-around fw-semibold fs-5">
    <div class="row mb-5 mt-5">
      <div
        class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <i class="bi bi-thermometer-snow me-2"></i>
        <p class="card-text">Min Temp  °C</p>
      </div>
      <!--{{weather.main.temp_min}}  {{weather.main.temp_max}}  {{weather.main.humidity}} {{weather.wind.speed}}-->
      <div
        class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <i class="bi bi-thermometer-sun me-2"></i>
        <p class="card-text">Max Temp  °C</p>
      </div>
      <div
        class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-5 mb-3"
      >
        <i class="bi bi-droplet-half me-2"></i>
        <p class="card-text">Humidity%</p>
      </div>
      <div
        class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-5 mb-3"
      >
        <i class="bi bi-wind me-2"></i>
        <p class="card-text">Speed Wind km</p>
      </div>
    </div>
  </div>