<div class="container mt-5" *ngIf="forecast">
    <table class="table table-borderless">
      <tbody class="text-center">
        <tr *ngFor="let day of days">
          <th>{{day.dt_txt | date:'EEEE d'}}</th>
          <th>{{day.main.humidity}}%</th>
          <th><img src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}@2x.png" alt="weather icon"></th>
          <th>{{day.main.temp_min}} °C</th>
          <th>{{day.main.temp_max}} °C</th>
        </tr>
      </tbody>
    </table>
</div>