<div class="container" *ngIf="forecast">
    <table class="table table-borderless bg-forecast">
      <tbody class="text-center">
        <tr>
          <th>{{forecast.list[2].dt_txt | date:'EEEE d'}}</th>
          <th>{{forecast.list[2].main.humidity}}%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>{{forecast.list[2].main.temp_min}} °C</th>
          <th>{{forecast.list[2].main.temp_max}} °C</th>
        </tr>
        <tr>
          <th>{{forecast.list[10].dt_txt | date:'EEEE d'}}</th>
          <th>{{forecast.list[10].main.humidity}}%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>{{forecast.list[10].main.temp_min}} °C</th>
          <th>{{forecast.list[10].main.temp_max}} °C</th>
        </tr>
        <tr>
          <th>{{forecast.list[18].dt_txt | date:'EEEE d'}}</th>
          <th>{{forecast.list[18].main.humidity}}%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>{{forecast.list[18].main.temp_min}} °C</th>
          <th>{{forecast.list[18].main.temp_max}} °C</th>
        </tr>
        <tr>
          <th>{{forecast.list[26].dt_txt | date:'EEEE d'}}</th>
          <th>{{forecast.list[26].main.humidity}}%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>{{forecast.list[26].main.temp_min}} °C</th>
          <th>{{forecast.list[26].main.temp_max}} °C</th>
        </tr>
        <tr>
          <th>{{forecast.list[34].dt_txt | date:'EEEE d'}}</th>
          <th>{{forecast.list[34].main.humidity}}%</th>
          <th><i class="bi bi-brightness-high"></i></th>
          <th>{{forecast.list[34].main.temp_min}} °C</th>
          <th>{{forecast.list[34].main.temp_max}} °C</th>
        </tr>
      </tbody>
    </table>
</div>