<div class="container text-center mb-3 mt-3">
  <form action="">
    <input class="search" type="text" placeholder="city search" />
    <button type="submit" class="btn-search">
      <i class="bi bi-search" style="font-size: 17px;"></i>
    </button>
  </form>
</div>

<div class="container">
  <div class="card mb-3 bg-forecast">
    <div class="card-header">
      <div class="weather-data pt-4 pb-3 fw-bold" id="blur">
        <h4 class="card-title">Chivilcoy</h4>
        <p>fri, jan 27</p>
        <i class="bi bi-cloud" style="font-size: 35px;"></i>
        <div class="ave">
          <p class="temp">30</p>
          <p class="degree">°C</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div
        class="d-flex flex-row direction justify-content-around fw-semibold fs-5"
      >
        <div class="row mb-5 mt-5">
          <div
            class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-3"
          >
            <i class="bi bi-thermometer-snow me-2"></i>
            <p class="card-text">Min Temp 23 °C</p>
          </div>
          <div
            class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-3"
          >
            <i class="bi bi-thermometer-sun me-2"></i>
            <p class="card-text">Max Temp 32 °C</p>
          </div>
          <div
            class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-5 mb-3"
          >
            <i class="bi bi-droplet-half me-2"></i>
            <p class="card-text">Humidity 77%</p>
          </div>
          <div
            class="col-md-6 d-flex flex-row justify-content-center align-items-center mt-5 mb-3"
          >
            <i class="bi bi-wind me-2"></i>
            <p class="card-text">Speed Wind 102km</p>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">11:00</h5>
              <i class="bi bi-cloud"></i>
              <p class="card-text">
                29 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">14:00</h5>
              <i class="bi bi-cloud-lightning"></i>
              <p class="card-text">
                31 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">17:00</h5>
              <i class="bi bi-cloud-drizzle"></i>
              <p class="card-text">
                34 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">20:00</h5>
              <i class="bi bi-cloud-rain-heavy"></i>
              <p class="card-text">
                36 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">23:00</h5>
              <i class="bi bi-cloud-drizzle"></i>
              <p class="card-text">
                29 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">2:00</h5>
              <i class="bi bi-cloud-lightning-rain"></i>
              <p class="card-text">
                29 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">5:00</h5>
              <i class="bi bi-clouds"></i>
              <p class="card-text">
                31 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">8:00</h5>
              <i class="bi bi-brightness-high"></i>
              <p class="card-text">
                34 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">11:00</h5>
              <i class="bi bi-brightness-high"></i>
              <p class="card-text">
                30 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">11:00</h5>
              <i class="bi bi-cloud"></i>
              <p class="card-text">
                29 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">11:00</h5>
              <i class="bi bi-cloud"></i>
              <p class="card-text">
                29 °C
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card  mb-3 bg-carousel">
            <div class="card-body text-center">
              <h5 class="card-title">14:00</h5>
              <i class="bi bi-cloud-lightning"></i>
              <p class="card-text">
                31 °C
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5 mb-5">
        <div class=" mt-2 text-center">
          <div class="row">
            <div class="col-md-4"><strong><p >Sunrise <br> 2pm</p></strong></div>
            <div class="col-md-4"><img src="../../../images/sunset-sunrise.png" class="img-fluid" alt="sunrise-sunset"></div>
            <div class="col-md-4"><strong><p >Sunset <br> 3pm</p></strong></div>
          </div>
        </div>
      </div>

    <div class="container">
      <table class="table table-borderless bg-forecast">
        <tbody class="text-center">
          <tr>
            <th>Monday</th>
            <th>77%</th>
            <th><i class="bi bi-brightness-high"></i></th>
            <th>12 °C</th>
            <th>22 °C</th>
          </tr>
          <tr>
            <th>Tuesday</th>
            <th>32%</th>
            <th><i class="bi bi-brightness-high"></i></th>
            <th>15 °C</th>
            <th>22 °C</th>
          </tr>
          <tr>
            <th>Wednesday</th>
            <th>1%</th>
            <th><i class="bi bi-brightness-high"></i></th>
            <th>18 °C</th>
            <th>26 °C</th>
          </tr>
          <tr>
            <th>Thursday</th>
            <th>15%</th>
            <th><i class="bi bi-brightness-high"></i></th>
            <th>22 °C</th>
            <th>28 °C</th>
          </tr>
          <tr>
            <th>Friday</th>
            <th>3%</th>
            <th><i class="bi bi-cloud-sun"></i></th>
            <th>24 °C</th>
            <th>32 °C</th>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

